/*? FriendsScroll */

.friendsscroll {
	width: 100%;
	height: 80px;
	position: relative;
}

.scroll {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;

	overflow-x: auto;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.scroll__item {}

.scroll__item:not(:last-of-type) {
	margin-right: 20px;
}