/*? Nav item */

.nav__item {
	width: 100%;

	margin-bottom: 12px;

	position: relative;
}

.nav__item.active .nav__link {
}

.nav__link {
	font-size: 16px;
	font-weight: 500;
	color: #4e5d78;

	display: block;
	
	padding: 15px 30px 15px 56px;

	border-radius: 10px;
}

.nav__link::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;

	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);

	background-color: #4e5d78;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

.nav__link.active {
	color: #fff;

	background-color: #4e5d78;
}

.nav__link.active::before {
	background-color: #fff;
}

/* Feed */

.nav__item:first-of-type
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/feed.svg');
	mask-image: url('/public/img/navbar/feed.svg');
}

/* Community */

.nav__item:nth-of-type(2)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/community.svg');
	mask-image: url('/public/img/navbar/community.svg');
}

/* Messages */

.nav__item:nth-of-type(3)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/messages.svg');
	mask-image: url('/public/img/navbar/messages.svg');
}

/* Notification */

.nav__item:nth-of-type(4)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/notification.svg');
	mask-image: url('/public/img/navbar/notification.svg');
}

/* Explore */

.nav__item:nth-of-type(5)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/explore.svg');
	mask-image: url('/public/img/navbar/explore.svg');
}

/* Profile */

.nav__item:nth-of-type(6)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/profile.svg');
	mask-image: url('/public/img/navbar/profile.svg');
}

/* Settings */

.nav__item:nth-of-type(7)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/settings.svg');
	mask-image: url('/public/img/navbar/settings.svg');
}

/* Logout */

.nav__item:nth-of-type(8)
.nav__link::before {
	-webkit-mask-image: url('/public/img/navbar/logout.svg');
	mask-image: url('/public/img/navbar/logout.svg');
}

/* ------------------ */

.nav__item.alert .nav__link::after {
	content: '2';
	display: block;
	width: 16px;
	height: 16px;

	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-42%);

	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
	text-align: center;

	background-color: #FF5630;
	border-radius: 50%;
}