/*? Friends List */

.friends {
	height: 100%;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas: "header"
	"list";
}

.friends__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	grid-area: header;

	margin-bottom: 22px;
}

.friends__title {
	font-size: 16px;
	font-weight: 600;
	color: var(--color-primary);
}

.friends__options {
	display: block;
	width: 20px;
	height: 20px;

	background-color: var(--color-primary);
	mask: url('/public/img/icons/dots.svg') center / contain no-repeat;
	-webkit-mask: url('/public/img/icons/dots.svg') center / contain no-repeat;
}

.friends__list {
	width: 100%;
	max-height: 100%;
	overflow: auto;

	grid-area: list;

	z-index: 100;
}

.friends__item {
	margin-bottom: 18px;
}
