/*? Post */

.post {
	padding: 18px;

	border-radius: 16px;
	background-color: var(--color-white);
	overflow: hidden;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "img name btn" "img tags btn";
	column-gap: 20px;
	row-gap: 8px;
	align-items: center;

	margin-bottom: 18px;
}

.header__img {
	width: 50px;
	height: 50px;

	border-radius: 50%;
	background: url('/public/img/photos/id8.jpeg') center / cover no-repeat;

	grid-area: img;
}

.header__name {
	font-size: 16px;
	font-weight: 600;
	color: var(--color-primary);

	grid-area: name;
	align-self: end;
}

.header__metatags {
	font-size: 12px;
	font-weight: 500;
	color: var(--color-gray-3);

	grid-area: tags;
	align-self: start;
}

.header__btn {
	grid-area: btn;
}

.main {
	width: 100%;
}

.main__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.56;
	color: var(--color-primary);

	margin-bottom: 18px;
}

.main__list {
	width: 100%;
	height: 100%;

	margin-bottom: 18px;
}

.main__item {
	width: 100%;
	height: 268px;
}

.main__photo {
	width: 100%;
	height: 100%;

	border-radius: 16px;

	object-fit: cover;
	object-position: center;
}

.main__info {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 18px;
	align-items: center;

	margin-bottom: 14px;
}

.main__likes {
	display: flex;
}

.main__like {
	font-size: 12px;
	font-weight: 400;
	color: var(--color-white);

	width: 22px;
	height: 22px;

	display: flex;
	justify-content: center;
	align-items: center;


	border-radius: 50%;
	background-color: var(--color-primary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main__like:nth-of-type(1) {
	background-image: url('/public/img/photos/id2.jpeg');
}

.main__like:nth-of-type(2) {
	position: relative;
	right: 4px;
	background-image: url('/public/img/photos/id6.jpeg');
}

.main__like:nth-of-type(3) {
	position: relative;
	right: 8px;
	background-image: url('/public/img/photos/id3.jpeg');
}

.main__like:nth-of-type(4) {
	position: relative;
	right: 12px;
}

.main__comments,
.main__share {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-gray-3);
}

.main__comments {
	justify-self: end;
}

.main__share {}

.buttons__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	padding: 12px 0;

	border-top: 1px solid var(--color-gray-5);
	border-bottom: 1px solid var(--color-gray-5);
}

.buttons__item {}

.buttons__item:nth-of-type(1) .button::before {
	mask-image: url('/public/img/icons/like-icon.svg');
}

.buttons__item:nth-of-type(2) {
	justify-self: center;
}

.buttons__item:nth-of-type(2) .button::before {
	justify-self: center;
	mask-image: url('/public/img/icons/comment-icon.svg');
}

.buttons__item:nth-of-type(3) {
	justify-self: end;
}

.buttons__item:nth-of-type(3) .button::before {
	justify-self: end;
	mask-image: url('/public/img/icons/share-icon.svg');
}

.button {}