
/*? Header */

.header {
	grid-area: header;

	display: grid;
	grid-template-columns: 240px 1fr 310px;
	grid-template-areas: "logo search profile";
	align-items: center;

	padding: 18px 0;
}

.header__logo {
	grid-area: logo;

	padding-left: 20px;
}

.header__link {
	font-size: 18px;
	font-weight: 700;

	padding-left: 36px;

	position: relative;
}

.header__link::before {
	content: '';
	display: block;
	width: 26px;
	height: 26px;

	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	background: url('/public/img/logo.svg') center / contain no-repeat;
}

.header__searchbar {
	max-width: 54rem;
	grid-area: search;

}

.header__profile {
	grid-area: profile;

	text-align: right;

	padding-right: 30px;
}

.profile {
	display: inline-flex;
	align-items: center;
	height: 42px;

	background-color: var(--color-white);
	border-radius: 8px;

	padding-left: 20px;

	box-shadow: var(--shadow-1);
}

.profile__name {
	font-size: 16px;
	font-weight: 500;

	margin-right: 20px;
}

.profile__img {
	width: 42px;
	height: 42px;

	border-radius: 8px;

	background: url('/public/img/photos/id0.jpeg') center / cover no-repeat;
}