/*? Dialog */

.dialog {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "main" "footer";

	height: 100%;
}

/** Header */

.header {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: "img name buttons" "img status buttons";
	align-items: center;
	justify-items: start;

	width: 100%;

	padding: 18px;

	border-bottom: 1px solid var(--color-gray-4);
}

.header__img {
	width: 50px;
	height: 50px;

	margin-right: 20px;

	border-radius: 50%;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	grid-area: img;
}

.header__img--1 {
	background-image: url('/public/img/photos/id1.jpeg');
}

.header__img--2 {
	background-image: url('/public/img/photos/id2.jpeg');
}

.header__img--3 {
	background-image: url('/public/img/photos/id3.jpeg');
}

.header__img--4 {
	background-image: url('/public/img/photos/id4.jpeg');
}

.header__img--5 {
	background-image: url('/public/img/photos/id5.jpeg');
}

.header__img--6 {
	background-image: url('/public/img/photos/id6.jpeg');
}

.header__img--7 {
	background-image: url('/public/img/photos/id7.jpeg');
}

.header__img--8 {
	background-image: url('/public/img/photos/id8.jpeg');
}

.header__img--9 {
	background-image: url('/public/img/photos/id9.jpg');
}

.header__name {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-primary);

	grid-area: name;
}	

.header__status {
	font-size: 12px;
	font-weight: 500;
	color: var(--color-gray-3);

	display: inline-block;

	padding-right: 20px;

	position: relative;

	grid-area: status;
}

.header__status::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;

	border-radius: 50%;
	border: 1px solid var(--color-gray-2);
	background-color: var(--color-gray-3);

	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.header__status--online::after {
	background-color: var(--color-green);
}

.header__buttons {
	display: flex;
	align-items: center;

	grid-area: buttons;
}

.header__btn {
	width: 16px;
	height: 16px;

	background-color: var(--color-primary);
	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;
}

.header__btn:first-of-type {
	mask-image: url('/public/img/icons/call-icon.svg');
}

.header__btn:nth-of-type(2) {
	mask-image: url('/public/img/icons/video-icon.svg');
}

.header__btn:nth-of-type(3) {
	mask-image: url('/public/img/icons/info-icon.svg');
}

.header__btn:not(:last-of-type) {
	margin-right: 20px;
}

/** Main */

.main {}

.main__container {
	width: 100%;
	height: 100%;
	position: relative;
}

/** Footer */

.footer {
	width: 100%;

	padding: 20px;

	border-top: 1px solid var(--color-gray-4);
}
