@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import './css/normalize.css';
@import './css/assets.css';

:root {
	/* Colors */
	--color-primary: #4E5D78;
	--color-secondary: #377DFF;
	--color-red: #FF5630;
	--color-green: #38CB89;
	--color-gray-1: #F9FAFB;
	--color-gray-2: #F6F7F8;
	--color-gray-3: #959EAE;
	--color-gray-3: #B8BEC9;
	--color-white: #ffffff;
	--color-black: #000000;
	/* Dimmensions */
	--radius-1: 20px;
	/* Effects */
	--shadow-1: -2px 4px 12px rgba(0, 0, 0, 0.04);
	/* Transition */
	--trans-primary: all 0.1s ease;
}

*,
*::before,
*::after {
	transition: var(--trans-primary);
}

html {
	font-size: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--color-primary);
}

.app-wrapper {
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;

	overflow: hidden;

	display: grid;
	grid-template-rows: 78px calc(100vh - 78px);
	grid-template-columns: 240px auto 310px;
	grid-gap: 0px;
	grid-template-areas:
								"header header header"
								"nav main main";
}

.option__btn {
	display: block;
	width: 16px;
	height: 16px;

	background-color: var(--color-primary);
	mask: url('/public/img/icons/dots.svg') center / contain no-repeat;
}